/*Header & footer - gjelder for alle sidene*/
header{
    background-color: bisque;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}

.footer{
    background-color: bisque;
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
}
.info_link{
    margin-left: 7rem;
}

/*Forside*/
/*Del 1: figur 1 & tekst*/
.figure_one{
    width: 10rem;
    margin: 1.5rem;
}

.picture_one{
    display: grid;
    grid-template-columns: auto auto auto;
}

.text{
    margin: 20%;
}

.lets_shop{
    text-align: center;
    font-family: Playfair Display SC;
    font-size: 12px;
    font-weight: 700;
}

.new_arrivals{
    text-align: center;
    font-family: Poly;
    font-size: 20px;
    font-weight: 400;
}

.button_one{
    font-family: Poly;
    font-size: 12px;
    font-weight: 400;
}

/*Del 2: figur to-tre & tekst*/
.sale{
    text-align: center;
    font-family: Poly;
    font-size: 15px;
    font-weight: 400;
    margin: 0%;
}

.brown_heels{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.button_two{
    height: 20%;
    font-family: Poly;
    font-size: 12px;
    font-weight: 400; 
}

/*Del 3: figur fire-fem & tekst */
.textandbutton{
    margin-top: 11rem;
}

.glamerous_fall{
    margin-left: 2rem;
}

.button_three{
    display: flex;
    height: 12%;
    font-family: Poly;
    font-size: 12px;
    margin: 2rem;
}

.figure_four{
    width: 10rem;
    margin: 1.5rem;
    padding: 1rem;
    flex: 1
}

.figure_five{
    width: 10rem;
    margin: 1.5rem;
    padding: 1rem;
    flex: 1
}
.text_three{
    display: flex;
    flex-direction: row;
}

main {
    margin: 1rem;
}

/**Produktside**/
.login_text, .favorites_text, .shopping_bag_text{
    display: none;
}
.most_wanted{
    color: #000;
    font-family: Poly;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
}

.breadcrumbs{
    display: flex;
}

/*figure seks*/
.figure_six{
    width: 13rem;
    margin-left: 1rem;
    padding: 20px;
    margin: 20px;
}

.text_figure_six{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.bling{
    font-size: 1rem;
}

.price_figure_six{
    font-size: 1rem;
}

.icon_figure_six{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    gap: 0.5rem;
    font-size: 1rem;
    margin-right: 10rem;
}

/*figure seven*/
.figure_seven{
    width: 13rem;
    margin-left: 1rem;
    padding: 20px;
    margin: 20px;
}

.text_figure_seven{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.date_night{
    font-size: 1rem;
}

.price_figure_seven{
    font-size: 1.5rem;
}

.icon_figure_seven{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    gap: 0.5rem;
    font-size: 1rem;
    margin-right: 10rem;
}

/*figure åtte*/
.figure_eight{
    width: 13rem;
    margin-left: 1rem;
    padding: 20px;
    margin: 20px;
}

.text_figure_eight{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.office{
    font-size: 1rem;
}

.price_figure_eight{
    font-size: 1.5rem;
}

.icon_figure_eight{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    gap: 0.5rem;
    font-size: 1rem;
    margin-right: 10rem;
}

/*figure ni*/
.figure_nine{
    width: 13rem;
    margin-left: 1rem;
    padding: 20px;
    margin: 20px;
}

.text_figure_nine{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.running_late{
    font-size: 1rem;
}

.price_figure_nine{
    font-size: 1rem;
}

.icon_figure_nine{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    gap: 0.5rem;
    font-size: 1rem;
    margin-right: 10rem;
}

/*figure ti*/
.figure_ten{
    width: 13rem;
    margin-left: 1rem;
    padding: 20px;
    margin: 20px;
}

.text_figure_ten{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.Comfy{
    font-size: 1rem;
}

.price_figure_ten{
    font-size: 1.5rem;
}

.icon_figure_ten{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    gap: 0.5rem;
    font-size: 1rem;
    margin-right: 10rem;
}

/*figure ellve*/
.figure_eleven{
    width: 13rem;
    margin-left: 1rem;
    padding: 20px;
    margin: 20px;
}

.text_figure_eleven{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.chic{
    font-size: 1rem;
}

.price_figure_eleven{
    font-size: 1.5rem;
}

.icon_figure_eleven{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    gap: 0.5rem;
    font-size: 1rem;
    margin-right: 10rem;
}

/*figure tolv*/
.figure_twelve{
    width: 13rem;
    margin-left: 1rem;
    padding: 20px;
    margin: 20px;
}

.text_figure_twelve{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}


.dream{
    font-size: 1rem;
}

.price_figure_twelve{
    font-size: 1.5rem;
}

.icon_figure_twelve{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    gap: 0.5rem;
    font-size: 1rem;
    margin-right: 10rem;
}

/*figure tretten*/
.figure_thirteen{
    width: 13rem;
    margin-left: 1rem;
    padding: 20px;
    margin: 20px;
}

.text_figure_thirteen{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.sky{
    font-size: 1rem;
}

.price_figure_thirteen{
    font-size: 1.5rem;
}

.icon_figure_thirteen{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    gap: 0.5rem;
    font-size: 1rem;
    margin-right: 10rem;
}

/*figure tretten*/
.figure_fourteen{
    width: 13rem;
    margin-left: 1rem;
    padding: 20px;
    margin: 20px;
}

.text_figure_fourteen{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.barbie{
    font-size: 1rem;
}

.price_figure_fourteen{
    font-size: 1rem;
}

.icon_figure_fourteen{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    gap: 0.5rem;
    font-size: 1rem;
    margin-right: 10rem;
}

/*Filter*/
.filter_product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1rem;
}

.filter{
    color: #000;
    font-family: Poly;
    font-size: 15px;
    font-weight: 600;
    margin-right: 2%;
}

.filter_logo{
    display: flex;
    flex-direction: row;
    align-items: center
}

/*Antall produkter & knapp nederst på produktsiden*/
.products{
    color: #000;
    font-family: Poly;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin: 2rem;
}

.button_four{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.button_showmore{
    font-family: Poly;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

/*Endringer gjort for at produktsiden skal se optimal ut på desktop*/
.icon_one{
    display: block;
    margin-left: 5rem;
}

.icon_two{
    display: block;
    margin-left: 0rem;
}

.search{
    display: none;
}

.filter_text{
    display: none;
}

.drop_down_filter{
    display: none;
}

/*Retur & leveranse*/
body{
    margin: 0px;
}

.main{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: center;
}

/*Tittel og informasjon øverst på siden*/
.delivery_return_title {
   font-size: 25px;
   font-family: poly;
   font-weight: 400;
   text-align: center;
}

/*Hovedinformasjon på siden*/
.information{
    font-size: 15px;
    font-family: poly;
    text-align: center;
}

.delivery_return{
    font-size: 20px;
    font-family: poly;
    font-weight: 400;
}

.get_help{
    font-size: 15px;
    font-family: poly;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 5rem;
    background-color: #D9D9D9;
}

/*Footer på siden*/
.info{
    text-align: center;
    font-family: Poly;
    font-size: 15px;
    font-weight: 400;
    margin-right: 10%;
}

.helpWrap{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;
}




/*Desktop*/
@media only screen and (min-width: 1200px) {


/*gjelder for alle sidene*/

.info_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info_link{
    margin-top: 1rem;
}

.helpWrap{
    margin-left: 5rem;
}

.hamburgermeny{
    display: none;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.login_text, .favorites_text, .shopping_bag_text{
   display: block;
}

.filter_logo{
    display: none;
}

/*Forside*/
/*Del 1: figur en & tekst */
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figure_one{
    width: 32rem;
}

.lets_shop{
    font-size: 2rem;
}

.new_arrivals{
    font-size: 2rem;
}

.button_one{
    font-size: 1.5rem;
}

/*Del 2: figur to-tre & tekst*/
.figure_two{
    margin-left: 2rem;
}

.figure_three{
    width: 83%;
}
.button_two{
    height: 6%;
    font-size: 24px;
    margin-left: 0rem;
}

.sale{
    font-size: 30px;
}

/*Del 3: figur fire-fem & tekst*/
.glamerous_fall{
    margin-left: 1rem;
    font-size: 1.5rem;
}

.button_three{
    font-size: 26px;
    margin: 1rem;
    height: 7%; 
}

.figure_four, .figure_five{
    width: 31rem;
}

.textandbutton{
    margin-top: 30rem;
}

/*Produktside*/
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filter_text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.line_most_wanted{
    text-decoration: underline;
}

.filter_product{
    float: right;
    white-space: nowrap;
}
.drop_down_filter{
    display: block;
    margin-top: 1rem;
}

.all_figures{
    display: grid;
    grid-template-columns: auto auto auto;
}

.text_figure_eight, .text_figure_ten, .text_figure_eleven, .text_figure_thirteen, .text_figure_fourteen{
    margin-left: 3rem;
}

.icon_figure_six, .icon_figure_seven, .icon_figure_eight, .icon_figure_nine, .icon_figure_ten, .icon_figure_eleven, .icon_figure_twelve, .icon_figure_thirteen, .icon_figure_fourteen{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

header{
    grid-template-columns: 80% 10% 10%;
}

/*Hva er dette for*/
.main{
    margin-left: 17rem;
}
/*Hva er dette for*/



/*Retur og leveranse*/
.delivery_return_title {
    text-align: left;
}

.information {
    text-align: left;
}

.get_help {
    margin-right: 25rem;
}

}


