/*Forside*/

main {
    margin: 1rem;
}

/*del 1*/
.figure_one{
    width: 10rem;
    margin: 1.5rem;
    padding: 1rem;
}

.picture_one{
    display: grid;
    grid-template-columns: auto auto auto;
}

.text{
    margin: 20%;
}

.button_one{
    font-family: Poly;
    font-size: 12px;
    font-weight: 400;
 
}
/*del 1*/

/*del 2*/
.sale{
    color: #000;
    text-align: center;
    font-family: Poly;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0%;
}

.brown_heels{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}


.lets_shop{
    text-align: center;
    font-family: Playfair Display SC;
    font-size: 12px;
    font-weight: 700;
}

.new_arrivals{
    text-align: center;
    font-family: Poly;
    font-size: 20px;
    font-weight: 400;
}

.button_two{
    height: 20%;
    font-family: Poly;
    font-size: 12px;
    font-weight: 400;
  
}
/*del 2*/


/*del 3*/
.figure_four{
    width: 10rem;
    margin: 1.5rem;
    padding: 1rem;
    flex: 1
}

.glamerous_fall{
    margin-left: 2rem;
}


.figure_five{
    width: 10rem;
    margin: 1.5rem;
    padding: 1rem;
    flex: 1
}

.button_three{
    display: flex;
    height: 12%;
    font-family: Poly;
    font-size: 12px;
    margin: 2rem;
}
  
.text_three{
    display: flex;
    flex-direction: row;
}

.textandbutton{
    margin-top: 11rem;
}
/*del 3*/

/**Produktside**/
.login_text, .favorites_text, .shopping_bag_text{
    display: none;
}
.most_wanted{
    color: #000;
    font-family: Poly;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
}

.breadcrumbs{
    display: flex;
}


/*figure seks*/
.figure_six{
    width: 13rem;
    margin-left: 1rem;
    padding: 20px;
    margin: 20px;

}

.bling{
    font-size: 1rem;
}

.price_figure_six{
    font-size: 1rem;
}

.icon_figure_six{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    gap: 0.5rem;
    font-size: 1rem;
    margin-right: 10rem;
}


.text_figure_six{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

/*figure seven*/

.figure_seven{
    width: 13rem;
    margin-left: 1rem;
    padding: 20px;
    margin: 20px;

}

.date_night{
    font-size: 1rem;
}

.price_figure_seven{
    font-size: 1.5rem;
}

.icon_figure_seven{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    gap: 0.5rem;
    font-size: 1rem;
    margin-right: 10rem;
}

.text_figure_seven{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

/*figure åtte*/

.figure_eight{
    width: 13rem;
    margin-left: 1rem;
    padding: 20px;
    margin: 20px;

}

.office{
    font-size: 1rem;
}

.price_figure_eight{
    font-size: 1.5rem;
}

.icon_figure_eight{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    gap: 0.5rem;
    font-size: 1rem;
    margin-right: 10rem;
}


.text_figure_eight{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}


/*figure ni*/
.figure_nine{
    width: 13rem;
    margin-left: 1rem;
    padding: 20px;
    margin: 20px;

}

.running_late{
    font-size: 1rem;
}

.price_figure_nine{
    font-size: 1rem;
}

.icon_figure_nine{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    gap: 0.5rem;
    font-size: 1rem;
    margin-right: 10rem;
}

.text_figure_nine{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

/*figure ti*/

.figure_ten{
    width: 13rem;
    margin-left: 1rem;
    padding: 20px;
    margin: 20px;

}

.Comfy{
    font-size: 1rem;
}

.price_figure_ten{
    font-size: 1.5rem;
}

.icon_figure_ten{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    gap: 0.5rem;
    font-size: 1rem;
    margin-right: 10rem;
}


.text_figure_ten{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

/*figure ellve*/

.figure_eleven{
    width: 13rem;
    margin-left: 1rem;
    padding: 20px;
    margin: 20px;

}

.chic{
    font-size: 1rem;
}

.price_figure_eleven{
    font-size: 1.5rem;
}

.icon_figure_eleven{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    gap: 0.5rem;
    font-size: 1rem;
    margin-right: 10rem;
}


.text_figure_eleven{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

/*figure tolv*/

.figure_twelve{
    width: 13rem;
    margin-left: 1rem;
    padding: 20px;
    margin: 20px;

}

.dream{
    font-size: 1rem;
}

.price_figure_twelve{
    font-size: 1.5rem;
}

.icon_figure_twelve{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    gap: 0.5rem;
    font-size: 1rem;
    margin-right: 10rem;
}


.text_figure_twelve{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

/*figure tretten*/

.figure_thirteen{
    width: 13rem;
    margin-left: 1rem;
    padding: 20px;
    margin: 20px;

}

.sky{
    font-size: 1rem;
}

.price_figure_thirteen{
    font-size: 1.5rem;
}

.icon_figure_thirteen{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    gap: 0.5rem;
    font-size: 1rem;
    margin-right: 10rem;
}


.text_figure_thirteen{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

/*figure tretten*/

.figure_fourteen{
    width: 13rem;
    margin-left: 1rem;
    padding: 20px;
    margin: 20px;

}

.barbie{
    font-size: 1rem;
}

.price_figure_fourteen{
    font-size: 1rem;
}

.icon_figure_fourteen{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    gap: 0.5rem;
    font-size: 1rem;
    margin-right: 10rem;
}


.text_figure_fourteen{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}


.number_of_products{
    color: #000;
    font-family: Poly;
    font-size: 15px;
    font-weight: 600;
    margin-left: 2%;
}

.filter_product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1rem;
}

.filter{
    color: #000;
    font-family: Poly;
    font-size: 15px;
    font-weight: 600;
    margin-right: 2%;
}

.filter_logo{
    display: flex;
    flex-direction: row;
    align-items: center
}
.products{
    color: #000;
    font-family: Poly;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin: 2rem;
}

.button_four{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.button_showmore{
    font-family: Poly;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.icon_one{
    display: block;
    margin-left: 5rem;
}

.icon_two{
    display: block;
    margin-left: 0rem;
}

.search{
    display: none;
}

.filter_text{
    display: none;
}

.drop_down_filter{
    display: none;
}





























/*Retur & leverandre*/
body{
    margin: 0px;
}

header{
    background-color: bisque;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}


.main{
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    font-style: normal;

}

.delivery_return_title {
   color: black;
   font-size: 25px;
   font-family: poly;
   font-weight: 400;
   text-align: center;
   line-height: normal;
   font-style: normal;
}

.information{
    width: 390px;
    color: black;
    font-size: 15px;
    font-family: poly;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    font-style: normal;
    margin-right: 100%;

}

.delivery_return{
    color: black;
    font-size: 20px;
    font-family: poly;
    font-weight: 400;
    text-align: normal;
    line-height: normal;
    font-style: normal;
}

.get_help{
    color: black;
    font-size: 15px;
    font-family: poly;
    font-weight: 400;
    text-align: normal;
    line-height: normal;
    font-style: normal;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 5rem;
    background-color: #D9D9D9;
}

.footer{
    background-color: bisque;
    width: 100%;
    margin-top: 2rem;
}

.info{
    color: #000;
    text-align: center;
    font-family: Poly;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10%;
}

.helpWrap{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;
}


/*Desktop*/
@media only screen and (min-width: 1200px) {
.delivery_return_title {
    text-align: left;
}

.information {
    text-align: left;
}

.get_help {
    margin-right: 25rem;
}

.info_footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.helpWrap{
    margin-left: 5rem;
}

.hamburgermeny{
    display: none;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.login_text, .favorites_text, .shopping_bag_text{
   display: block;
}

.filter_logo{
    display: none;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filter_text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.line_most_wanted{
    text-decoration: underline;
}

.filter_product{
    float: right;
    white-space: nowrap;
}
.drop_down_filter{
    display: block;
    margin-top: 1rem;
}

.all_figures{
    display: grid;
    grid-template-columns: auto auto auto;
}

.text_figure_eight, .text_figure_ten, .text_figure_eleven, .text_figure_thirteen, .text_figure_fourteen{
    margin-left: 3rem;
}

.icon_figure_six, .icon_figure_seven, .icon_figure_eight, .icon_figure_nine, .icon_figure_ten, .icon_figure_eleven, .icon_figure_twelve, .icon_figure_thirteen, .icon_figure_fourteen{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}
header{
    grid-template-columns: 80% 10% 10%;
}

.main{
    margin-left: 17rem;
}
}

